<template>
	<div class="card hotel_card">
		Nom: {{name}} <br/>
		Titre: {{subtitle}} <br/>
		Prix: {{price}} <br/>
		Capacité: {{capacity}} <br/>
		img: {{img.substring(0, 20)}}... <br/>
		author: {{author.name}} <br/>

		Durée: {{duration}} <br/>
	</div>
</template>

<script>

	export default {
		props: {
			price: {
				type: Number,
				required: true
			},
			capacity: {
				type: Number,
				required: true
			},
			name: {
				type: String,
				required: true
			},
			subtitle: {
				type: String,
				required: true
			},
			img: {
				type: String,
				required: true
			},
			duration: {
				type: Number,
				required: true
			},
			author: {
				type: Object,
				required: true
			},
			date_create: {
				required: true
			},
			destination: {
				required: true
			},
			img: {
				required: true
			}
		}
	}

</script>

<style lang="scss">

	.card {
		background-color: #f3d5f3; 
		height: 300px; 
		width: 250px; 
		margin: 10px;
		border-radius: 5px;
		padding: 15px;
	}

</style>
