<template>
    <div class="filter_container">

      <el-button-group class="filter_type">
        <el-button @click="setType('experience')" :type="selected_type == 'experience' ? 'primary' : undefined">Experience</el-button>
        <el-button @click="setType('hotel')" :type="selected_type == 'hotel' ? 'primary' : undefined">Hôtels</el-button>
      </el-button-group>

      <div class="filter_price">
        <h4>Prix</h4>
        <el-slider
          range
          v-model="filters.price"
          :min="0"
          :max="100"
          @change="handleFilterUpdate"
        />
      </div>

      <div class="filter_capacity">
        <h4>Capacité</h4>
        <el-slider
          range
          v-model="filters.capacity"
          :min="0"
          :max="100"
          @change="handleFilterUpdate"
        />
      </div>

      <div class="search">
        <el-button :disabled="!selected_type" @click="handleSearch">Search !</el-button>
      </div>

    </div>
</template>

<script>

	export default {
		data: () => ({
			selected_type: null,
			filters: {
				price: [0, 100],
				capacity: [0, 100]
			}
		}),
		methods: {
      handleFilterUpdate() {
        this.$emit('filter_update', this.filters)
      },
      setType(type) {
        this.selected_type = type
        this.$emit('component_type', type);
      },
      handleSearch() {
        this.$emit('handle_search')
      }
		}
	}

</script>

<style lang="scss">

  .filter_container {
    width: 300px;
    padding: 30px;
    background-color: #f5f5f5;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.25);

    .filter_type {
      width: 100%;
      display: flex;
      margin-bottom: 60px;

      button {
        flex-grow: 1;
      }
    }

    .search button {
      margin-top: 60px;
      width: 100%;

    }
  }

</style>
