<template>
	<div class="card hotel_card">
		Nom: {{name}} <br/>
		Titre: {{subtitle}} <br/>
		Prix: {{price}} <br/>
		Capacité: {{capacity}} <br/>
		img: {{img.substring(0, 20)}}... <br/>
		Chambres: {{room_count}} <br/>

		<img class="img" :src="author.img" />
	</div>
</template>

<script>

	export default {
		props: {
			price: {
				type: Number,
				required: true
			},
			capacity: {
				type: Number,
				required: true
			},
			name: {
				type: String,
				required: true
			},
			subtitle: {
				type: String,
				required: true
			},
			img: {
				type: String,
				required: true
			},
			room_count: {
				type: Number,
				required: true
			},
			author: {
				type: Object,
				required: true
			},
			date_create: {
				required: true
			},
			destination: {
				required: true
			},
			img: {
				required: true
			}
		}
	}

</script>

<style lang="scss">

	.card {
		background-color: #f3d5f3;
		height: 300px; 
		width: 250px; 
		margin: 10px;
		border-radius: 5px;
		padding: 15px;
    	box-shadow: 5px 0 10px 0 rgba(0,0,0,.25);
		transition: 0.2s;
		position: relative;

		&:hover {
			transform: translateY(-5px)
		}

		.img {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			position: absolute;
			bottom: 10px;
			right: 10px;
    		box-shadow: 0px 0 10px 0 rgba(0,0,0,.35);
		}
	}

</style>
