<template>
  <div class="container">

    <FilterPanel 
		@filter_update="setFilters"
		@component_type="setType"
		@handle_search="handleSearch"
    />

    <div class="result_container">
      <h1 v-if="results && results.length">Résultat : {{results.length}} {{`${selected_type == 'experience' ? 'Expériences' : 'Hôtels'}`}}</h1>

      <div class="result_list">

        <div v-for="item in results" :key="item.id">
          <component info="// A compléter" />
        </div>

      </div>
    </div>
  </div>
</template>

<script>

import _ from 'lodash'
import {mapActions, mapGetters} from 'vuex'

import ExperienceCard from '../components/ExperienceCard.vue'
import HotelCard from '../components/HotelCard.vue'
import FilterPanel from '../components/FilterPanel.vue'

export default {
  components: {FilterPanel},
  data() {
    return {
	  selected_type: null,
	  filters: null
    }
  },
  mounted() {
  },
  watch: {
  },
  methods: {
    setType(type) {
      this.selected_type = type;
      this.handleSearch();
	},
	setFilters(filters) {
		this.filters = filters;
	},
    handleSearch() {
      this.startSearch({type: this.selected_type, filters: this.filters});
    },
    ...mapActions('search', {
      startSearch: 'startSearch'
    })
  },

  computed: {
    component_to_show: function() {
      
		var component_dict = {
			hotel: HotelCard,
			experience: ExperienceCard
		}

		if (this.results.length == 0)
			return null;

		// A compléter
		return null;
    },
    ...mapGetters('search', {
      results: 'results'
    })
  }
}
</script>

<style lang="scss">

  h1, h2, h3, h4 {
    font-weight: 400;
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .result_container {
    margin: 60px;
    margin-left: 360px;

    h1 {
      margin-bottom: 60px;
    }

    .result_list {
      display: flex;
      flex-wrap: wrap;
    }
  }


</style>
